@media only screen and (max-width: 1680px) {


  .blocks {
    padding-left: 18px;
    padding-right: 18px;
    width: 100vw;
    height: 16.9vw;
    background: #F3F800;



  }

  .block1 {
    width: 50%;
    padding-top: 18px;
    position: absolute;
  }
  .block2 {
    position: absolute;
    width: 46%;
    left: 53%;
    padding-top: 10px;
    padding-right: 1%;
    padding-left: 2%;

  }
  .sled {
    position: absolute;
    width: 45.8%;
    left: 53.2%;
    top: 14.7vw;
  }

  .vert1 {
    width: 4px;
    height: 14.5vw;
    position: absolute;
    background: #303030;
    left: 16.4vw;
    top: 15px;

  }
  .vert2 {
    width: 4px;
    height: 14.5vw;
    position: absolute;
    background: #303030;
    left: 52.6vw;
    top: 15px;


  }
  .hor1 {
    width: 100vw;
    height: 4px;
    position: absolute;
    background: #303030;
    margin-top: 30px;
    top: 14.5vw;

  }
  .five {
    width: 5vw;
    height: 10vw;
    display: block;
    position: absolute;
    left: 19%;
    top: 18px;
    background: url('five6.svg');
    background-size: auto 100%;

    animation: five .5s steps(1) infinite;
    animation-play-state: running;

  }
  @keyframes five {
    0%{background-position: 0vw ;}
    25%{background-position: 8.4vw ;}
    50%{background-position: 16.8vw ;}
    75%{background-position: 25.2vw ;}

  }
  .contents {

    position: absolute;
  width: 100%;
  height: 65vmin;
  /* top: 14.7vw;
  margin-top: 30px; */
  bottom: 50px;
  }
.content1 {
  position: absolute;
  width: 34%;
  height: 450px;
  bottom: 50px;



}
.shag1 {
  position: absolute;
  width: 130px;
  left: 10%;
  top: 10%;
}
  .naidi {
    position: absolute;
    width: 130px;
    left: 45%;
    top: 12%;
  }

  .ubedi {
    position: absolute;

    width: 200px;
    left: 19%;
    top: 140px;

  }
  .sovet1 {
    position: absolute;
    width: 25%;
    left: 5%;
    top: 24%;
  }


  .thebug img{
    position: absolute;
    width: 190px;
    left: 60%;
    top: 58%;
  }

  .bstar1 {
    position: absolute;
    width: 10%;
    left: 78%;
    top: 6%;
  }
  .pstar1 {
    position: absolute;
    width: 13%;
    left: 80%;
    top: 37%;
  }
  .wstar1 {
    position: absolute;
    width: 17%;
    left: 45%;
    top: 79%;
  }
  .splash1 {
    position: absolute;
    width: 130px;
    left: 6%;
    top: 70%;
  }
  .bstar2 {
    position: absolute;
    width: 10%;
    left: 89%;
    top: 92%;
  }
  .content2 {
  position: absolute;
  width: 34%;
  height: 450px;
  bottom: 50px;
  left: 35%;
  }

  .thegirl {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 8%;


  }
  .lyozha {
    position: absolute;
    width: 150px;
    left: 4%;
    top: 30px;
  }

  .shag2 {
    position: absolute;
    width: 30%;
    top: 50%;
    right: 71%;
  }
  .flower11 {
    position: absolute;
    width: 14%;
    top: 15px;
    left: 170px;
  }
  .pacifb1 img {
    position: absolute;
    width: 180px;
    top: 290px;
    left: 8%;
  }
  .pacifpink1 {
    position: absolute;
    width: 20%;
    top: 5%;
    left: 270px;
  }
  .pinkstarlined {
    position: absolute;
    width: 50px;
    top: 120px;
    left: 180px;
  }
  .whitestar1 {
    position: absolute;
    width: 17%;
    top: 370px;
    left: 55%;
  }

  .blackstar2 {
    position: absolute;
    width: 15%;
    top: 190px;
    left: 370px;
  }

  .content3 {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 60%;

  }
  .relax img {
    position: absolute;
    display: block;
    width: 170px;
    top: 290px;
    left: 10%;

  }

  .thedude img{
    position: absolute;
    width: 370px;
    top: 140px;
    left: 30%;
  }
  .splash2 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }
  .shag3 {
    position: absolute;
    width: 150px;
    top: 90px;
    left: 20%;
  }
  .zakr {
    position: absolute;
    width: 130px;
    top: 15%;
    left: 75%;
  }
  .flower2 {
    position: absolute;
    width: 70px;
    top: 150px;
    left: 450px;
  }
  .flower3 {
    position: absolute;
    width: 65px;
    top: 400px;

    left: 250px;
  }
  .whitestar2 {
    position: absolute;
    width: 13%;
    top: 30px;
    left: 60%;
  }
  .blackstar3 {
    position: absolute;
    width: 65px;
    top: 190px;
    left: 350px;
  }
  .pinkstar3 {
    position: absolute;
    width: 65px;
    top: 190px;
    left: 80%;
  }
  .pinkstarlined2 {
    position: absolute;
    width: 60px;
    top: 250px;
    left: 100%;
  }
  .pacificblack1 {
    position: absolute;
    width: 20%;
    top: 380px;
    left: 380px;
  }



  .contentmid1 {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 92%;

  }
  .pacifp img {
    position: absolute;
    width: 210px;
    top: 120px;
    left: 32%;
}
  .splash3 {
    position: absolute;
    width: 25%;
    top: 340px;
    left: 25%;
  }

  .pacifpink2 {
    position: absolute;
    width: 100px;
    top: 350px;
    left: 80%;
  }
  .drop1 {
    position: absolute;
    width: 120px;
    top: 280px;
    left: 57%;
  }
  .pinkstarlined3 {
    position: absolute;
    width: 13%;
    top: 230px;
    left: 85%;
  }
  .blackstar4 {
    position: absolute;
    width: 15%;
    top: 380px;
    left: 55%;
  }
  .wordrelax {
    position: absolute;
    width: 150px;
    top: 70px;
    left: 38%;
  }


  .content4 {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 120%;

  }
  .ochist {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 80px;
  }
  .splash4 {
    position: absolute;
    width: 180px;
    top: 45px;
    left: 20px;
  }
  .shag4 {
    position: absolute;
    width: 170px;
    top: 86px;
    left: 9px;
  }
  .pacifpink33 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }
  .splash5 {
    position: absolute;
    width: 100px;
    top: 30px;
    left: 300px;
  }
  .pacificblack2 {
    position: absolute;
    width: 100px;
    top: 120px;
    left: 390px;
  }
  .univ img{
    position: absolute;
    width: 160px;
    top: 300px;
    left: 270px;
  }
  .linedstar1 {
    position: absolute;
    width: 80px;
    top: 400px;
    left: 20%;
  }
  .pinkstar4 {
    position: absolute;
    width: 40px;
    top: 410px;
    left: 220px;
  }



  .pods {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 150%;
  }
  .podskazka {
    position: absolute;
    width: 50px;
    top: 150px;
    left: 30%;
  }

  .vimozh {
    position: absolute;
    width: 210px;
    top: 140px;
    left: 170px;
  }

  .linedstar2 {
    position: absolute;
    width: 60px;
    top: 300px;
    left: 470px;
  }

  .drop2 {
    position: absolute;
    width: 150px;
    top: 340px;
    left: 120px;
  }

  .flower4 {
    position: absolute;
    width: 60px;
    top: 80px;
    left: 400px;
  }

  .pinkstarlined5 {
    position: absolute;
    width: 80px;
    top: 295px;
    left: 310px;
  }

  .pacificblack3 {
    position: absolute;
    width: 110px;
    top: 45px;
    left: 300px;
  }

  .blackstar6 {
    position: absolute;
    width: 40px;
    top: 210px;
    left: 420px;
  }

  .linedstar3 {
    position: absolute;
    width: 70px;
    top: 45px;
    left: 300px;
  }

  .podskazka {
    position: absolute;
    width: 130px;
    top: 70px;
    left: 110px;
  }
  .flower5 {
    position: absolute;
    width: 60px;
    top: 400px;
    left: 0px;
  }

  .whitestar3 {
    position: absolute;
    width: 50px;
    top: 250px;
    left: 70px;
  }



  .content5 {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 180%;
  }
  .pacificblack4 {
    position: absolute;
    width: 100px;
    top: 360px;
    left: 400px;
  }

  .whitestar4 {
    position: absolute;
    width: 80px;
    top: 370px;
    left: 150px;
  }

  .blackstar7 {
    position: absolute;
    width: 50px;
    top: 300px;
    left: 450px;
  }

  .blackstar8 {
    position: absolute;
    width: 50px;
    top: 50px;
    left: 170px;
  }

  .drop3 {
    position: absolute;
    width: 150px;
    top: 100px;
    left: 430px;
  }

  .pacifpink4 {
    position: absolute;
    width: 80px;
    top: 360px;
    left: 350px;
  }

  .prolezhy {
    position: absolute;
    width: 310px;
    top: 110px;
    left: 140px;
  }

  .shag5 {
    position: absolute;
    width: 150px;
    top: 130px;
    left: 120px;
  }

  .pict {
    position: absolute;
    width: 45%;
    top: 40px;
    left: 225%;
  }























  .sled2 {
    display: none;
    position: absolute;
    width: 37%;
    left: 60%;
    top: 14.6vw;
  }

@media only screen and (max-width: 1200px){
  .content1 {

  }
}
@media only screen and (max-width: 1024px){

  .block1 {
    width: 50%;
    padding-top: 18.5px;
    position: absolute;
    left: 4%;
  }
  .sled2 {
      display: block;
    position: absolute;
    width: 35%;
    left: 60%;
    top: 14vw;
  }
  .vert1 {
    width: 4px;
    height: 15vw;
    position: absolute;
    background: #303030;
    left: 19vw;
    top: 15px;

  }
  .vert2 {
    width: 4px;
    height: 15vw;
    position: absolute;
    background: #303030;
    left: 56vw;
    top: 15px;
  }
  .hor1 {
    width: 100vw;
    height: 4px;
    position: absolute;
    background: #303030;
    margin-top: 30px;
    top: 15vw;

  }
  .sled {
    display: none;
    position: absolute;
    width: 46%;
    left: 53%;
    top: 14.6vw;
  }
  .block2 {
    position: absolute;
    width: 40%;
    left: 57%;
    padding-top: 15px;
    padding-right: 1%;
    padding-left: 2%;

  }

  .content1 {
    position: absolute;
    width: 50%;
    height: 450px;
    bottom: 50px;



  }
  .shag1 {
    position: absolute;
    width: 130px;
    left: 10%;
    top: 10%;
  }
    .naidi {
      position: absolute;
      width: 130px;
      left: 45%;
      top: 12%;
    }

    .ubedi {
      position: absolute;

      width: 200px;
      left: 19%;
      top: 140px;

    }
    .sovet1 {
      position: absolute;
      width: 25%;
      left: 5%;
      top: 24%;
    }


    .thebug img{
      position: absolute;
      width: 190px;
      left: 60%;
      top: 58%;
    }

    .bstar1 {
      position: absolute;
      width: 10%;
      left: 78%;
      top: 6%;
    }
    .pstar1 {
      position: absolute;
      width: 13%;
      left: 80%;
      top: 37%;
    }
    .wstar1 {
      position: absolute;
      width: 17%;
      left: 45%;
      top: 79%;
    }
    .splash1 {
      position: absolute;
      width: 130px;
      left: 6%;
      top: 70%;
    }
    .bstar2 {
      position: absolute;
      width: 10%;
      left: 89%;
      top: 92%;
    }


    .content2 {
    position: absolute;
    width: 50%;
    height: 450px;
    bottom: 50px;
    left: 50%;
    }

    .thegirl {
      position: absolute;
      width: 300px;
      top: 100px;
      left: 8%;


    }
    .lyozha {
      position: absolute;
      width: 150px;
      left: 4%;
      top: 30px;
    }

    .shag2 {
      position: absolute;
      width: 30%;
      top: 50%;
      right: 71%;
    }
    .flower11 {
      position: absolute;
      width: 14%;
      top: 15px;
      left: 170px;
    }
    .pacifb1 img {
      position: absolute;
      width: 180px;
      top: 290px;
      left: 8%;
    }
    .pacifpink1 {
      position: absolute;
      width: 20%;
      top: 5%;
      left: 270px;
    }
    .pinkstarlined {
      position: absolute;
      width: 50px;
      top: 120px;
      left: 180px;
    }
    .whitestar1 {
      position: absolute;
      width: 17%;
      top: 370px;
      left: 55%;
    }

    .blackstar2 {
      position: absolute;
      width: 15%;
      top: 190px;
      left: 370px;
    }



    .content3 {
      position: absolute;
      width: 50%;
      height: 450px;
      bottom: 50px;
      left: 90%;

    }
    .relax img {
      position: absolute;
      display: block;
      width: 110px;
      top: 300px;
      left: 20%;

    }

    .thedude img{
      position: absolute;
      width: 370px;
      top: 140px;
      left: 30%;
    }
    .splash2 {
      position: absolute;
      width: 150px;
      top: 45px;
      left: 20%;
    }
    .shag3 {
      position: absolute;
      width: 150px;
      top: 90px;
      left: 20%;
    }
    .zakr {
      position: absolute;
      width: 130px;
      top: 15%;
      left: 75%;
    }
    .flower2 {
      position: absolute;
      width: 70px;
      top: 150px;
      left: 450px;
    }
    .flower3 {
      position: absolute;
      width: 65px;
      top: 400px;

      left: 250px;
    }
    .whitestar2 {
      position: absolute;
      width: 13%;
      top: 30px;
      left: 60%;
    }
    .blackstar3 {
      position: absolute;
      width: 65px;
      top: 190px;
      left: 350px;
    }
    .pinkstar3 {
      position: absolute;
      width: 65px;
      top: 190px;
      left: 80%;
    }
    .pinkstarlined2 {
      position: absolute;
      width: 60px;
      top: 250px;
      left: 100%;
    }
    .pacificblack1 {
      position: absolute;
      width: 20%;
      top: 380px;
      left: 380px;
    }

    .contentmid1 {
      position: absolute;
      width: 50%;
      height: 450px;
      bottom: 50px;
      left: 150%;

    }

    .content4 {
      position: absolute;
      width: 50%;
      height: 450px;
      bottom: 50px;
      left: 200%;
    }


    .pods {
      position: absolute;
      width: 50%;
      height: 450px;
      bottom: 50px;
      left: 250%;
    }


    .content5 {
      position: absolute;
      width: 50%;
      height: 450px;
      bottom: 50px;
      left: 300%;
    }

    .pict {
      position: absolute;
      width: 45%;
      top: 40px;
      left: 360%;
    }
    .contents{
      bottom: 0;
      margin-bottom: 9vh;
    }
}


@media only screen and (max-width: 768px) {
  .sled {
    display: block;
    position: absolute;
    width: 86%;
    left: 7%;
    top: 52.5vw;
  }
  .sled2 {
    display: none;
  }
  .blocks {
    padding: 11px;
  }

  .block1 {
    width: 80%;
    position: absolute;
    left: 10%;
    padding-top: 0px;
    padding-bottom: 0px;

  }

  .block2 {
    position: absolute;
    width: 77%;

    padding-left: 2%;
    padding-top: 1%;
    top: 27.5vw;
    left: 11%;

  }


  .vert1 {
    width: 4px;
    height: 23vw;
    position: absolute;
    background: #303030;
    left: 32.5vw;
    top: 10px;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
  }
  .vert2 {
    display: none;

  }
  .hor1 {
    width: 100vw;
    height: 4px;
    position: absolute;
    background: #303030;
    margin-top: 30px;
    top: 22vw;

  }
  .hor2 {
    width: 100vw;
    height: 4px;
    position: absolute;
    background: #303030;
    margin-top: 30px;
    top: 51vw;

  }
  .pict {
    position: absolute;
    width: 45%;
    bottom: 20vh;
    left: 360%;
  }

  .contents{
    height: 10vh;
    bottom: 0;
    margin-bottom: 10vh;
  }
  .content1 {
    height: 33vh;
  }
  .blackstar {
    top: 8%;
  }
  .ubedi {
    width: 50%;
  }
  .naidi {
    width: 30%;
  }
  .splash1 {
    display: none;
  }
  .thebug {
    display: none;
  }
  .content2 {
    height: 33vh;
  }
  .thegirl {
    width: 60%;
    top: 20%;
    left: 20%;

  }
  .whitestar1 {
    display: none;
  }
  .shag2 {
    top: 60%;
  }
  .lyozha {
    width: 30%;
    top: 8%;
  }
  .flower11 {
    display: none;
  }
  .pacifb1 img {
    width: 40%;
    top: 73%;
    left: 20%;

  }
  .pacifpink1 {
    width: 20%;
    top: 20%;
    left: 80%;
  }
  .blackstar2 {
    left: 80%;
    top: 95%;
  }
  .pinkstarlined {
    display: none;
  }

.content3 {
  height: 33vh;
}
.thedude img {
  width: 80%;
}
.zakr {
  width: 30%;
}
.splash2 {
  width: 30%;
  left: 30%;
}
.shag3 {
  width: 30%;
  left: 30%;
}
.relax {
  display: none;
}
.pacificblack1 {
  display: none;
}
.flower3 {
  display: none;
}
.flower2 {
  top: 30%;
  left: 112%;
}
.pinkstarlined2 {
  top: 80%;
}


.contentmid1 {
  height: 33vh;
  left: 145%;
}
.wordrelax {
  top: 10%;
}
  .pacifp img {
    top: 25%;
    left: 22%;
  }
  .drop1 {
    top: 90%;
    left: 59%;;
  }
  .pinkstarlined3 {
    top: 30%;
  }
  .blackstar4 {

}



.content4 {
  height: 33vh;
}
.ochist {
  width: 60%;
  left: 20%;
  top: 20%;
}
.splash4 {
width: 35%;
}
.shag4 {
  width: 35%;
}


.univ img {
  width: 30%;
  top: 70%;
  left: 60%;
}
.pacifpink2 {
  top:66%;
  width: 22%;
  left: 90%;
}
.linedstar1 {
  top: 95%;
  width: 15%;
  left: 10%;
}

.pods {
  height: 33vh;

}
.podskazka {
  width: 30%;
}
.vimozh {
  width: 50%;
  left: 45%;
}
.drop2 {
  display: none;
}
.pacificblack2 {
  width:22%;
  top: 50%;
  left: 97%;
}


.content5 {
  height: 33vh;
}
.pict {
  top:0;
  height: 33vh;
}

}

  @media only screen and (max-width: 500px) {



    .blocks {
      padding: 8px;

    }

    .block1 {
      width: 95%;
      position: absolute;
      left: 2%;


    }

    .block2 {
      position: absolute;
      width: 95%;
      left: auto;


      padding-top: 1%;
      top: 31vw;


    }
    .vert1 {
      width: 4px;
      height: 27vw;
      position: absolute;
      background: #303030;
      left: 28vw;
      top: 7px;
      margin-left: 1.5vh;
      margin-right: 1.5vh;
    }
    .vert2 {
      display: none;

    }
    .hor1 {
      width: 100vw;
      height: 4px;
      position: absolute;
      background: #303030;
      margin-top: 30px;
      top: 24vw;

    }
    .hor2 {
      width: 100vw;
      height: 4px;
      position: absolute;
      background: #303030;
      margin-top: 30px;
      top: 59vw;

    }
    .sled {
      top: 61vw;
    }
    .contents{
      height: 45vh;
      bottom: 0;
      margin-bottom: 10vh;
    }
    .content1 {
      height: 40vh;
      top: 0;
      left: 5%;

    }
    .ubedi {
      position: absolute;

    
      left: 19%;
      top: 140px;

    }
    .content2 {
      height: 40vh;
      left: 100%;
      top: 0;
    }
    .content3 {
      width: 100vw;
      left: 200%;
      top: 0;
    }
    .contentmid1 {
      width: 100vw;
      left: 300%;
      top: 0;
    }
    .content4 {
      width: 100vw;
      left: 400%;
      top: 0;
    }
    .pods {
      width: 100vw;
      left: 500%;
      top: 0;
    }
    .content5 {
      width: 100vw;
      left: 600%;
      top: 0;
    }
    .pict {
      width: 100vw;
      left: 700%;
      top: 0;
    }


}
