@media only screen and (max-width: 1680px) {


  .blocks {
    padding-left: 18px;
    padding-right: 18px;

  }

  .block1 {
    width: 50%;
    padding-top: 18px;
    position: absolute;
  }
  .block2 {
    position: absolute;
    width: 46%;
    left: 53%;
    padding-top: 10px;
    padding-right: 1%;
    padding-left: 2%;

  }
  .sled {
    position: absolute;
    width: 45.8%;
    left: 53.2%;
    top: 14.7vw;
  }

  .vert1 {
    width: 4px;
    height: 14.5vw;
    position: absolute;
    background: #303030;
    left: 16.4vw;
    top: 15px;

  }
  .vert2 {
    width: 4px;
    height: 14.5vw;
    position: absolute;
    background: #303030;
    left: 52.6vw;
    top: 15px;


  }
  .hor1 {
    width: 100vw;
    height: 4px;
    position: absolute;
    background: #303030;
    margin-top: 30px;
    top: 14.5vw;

  }
  .five {
    width: 62px;
    height: 145px;
    display: block;
    position: absolute;
    left: 162px;
    top: 18px;
    background: url('images/five4.png');

    animation: five .5s steps(1) infinite;
    animation-play-state: running;

  }
  @keyframes five {
    0%{background-position: 0px ;}
    25%{background-position: -200px ;}
    50%{background-position: -400px ;}
    75%{background-position: -600px ;}

  }
  .contents {

    position: absolute;
  width: 100%;
  height: 65vmin;
  /* top: 14.7vw;
  margin-top: 30px; */
  bottom: 50px;
  }
.content1 {
  position: absolute;
  width: 34%;
  height: 450px;
  bottom: 50px;



}
.shag1 {
  position: absolute;
  width: 130px;
  left: 12%;
  top: 10%;
}
  .naidi {
    position: absolute;
    width: 130px;
    left: 45%;
    top: 12%;
  }

  .ubedi {
    position: absolute;

    width: 200px;
    left: 19%;
    top: 140px;

  }
  .sovet1 {
    position: absolute;
    width: 25%;
    left: 5%;
    top: 24%;
  }


  .thebug img{
    position: absolute;
    width: 37%;
    left: 60%;
    top: 58%;
  }

  .bstar1 {
    position: absolute;
    width: 10%;
    left: 78%;
    top: 6%;
  }
  .pstar1 {
    position: absolute;
    width: 13%;
    left: 80%;
    top: 37%;
  }
  .wstar1 {
    position: absolute;
    width: 17%;
    left: 45%;
    top: 79%;
  }
  .splash1 {
    position: absolute;
    width: 130px;
    left: 6%;
    top: 70%;
  }
  .bstar2 {
    position: absolute;
    width: 10%;
    left: 83%;
    top: 92%;
  }
  .content2 {
  position: absolute;
  width: 34%;
  height: 450px;
  bottom: 50px;
  left: 35%;
  }

  .thegirl {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 7%;


  }
  .lyozha {
    position: absolute;
    width: 150px;
    left: 4%;
    top: 30px;
  }

  .shag2 {
    position: absolute;
    width: 30%;
    top: 50%;
    right: 71%;
  }
  .flower11 {
    position: absolute;
    width: 14%;
    top: 15px;
    left: 170px;
  }
  .pacifb1 img {
    position: absolute;
    width: 180px;
    top: 290px;
    left: 8%;
  }
  .pacifpink1 {
    position: absolute;
    width: 90px;
    top: 5%;
    left: 270px;
  }
  .pinkstarlined {
    position: absolute;
    width: 50px;
    top: 120px;
    left: 180px;
  }
  .whitestar1 {
    position: absolute;
    width: 13%;
    top: 400px;
    left: 50%;
  }

  .blackstar2 {
    position: absolute;
    width: 65px;
    top: 190px;
    left: 360px;
  }

  .content3 {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 60%;

  }
  .relax {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    background: url('images/relax.png');
  }

  .thedude img{
    position: absolute;
    width: 370px;
    top: 150px;
    left: 30%;
  }
  .splash2 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }
  .shag3 {
    position: absolute;
    width: 150px;
    top: 90px;
    left: 20%;
  }
  .zakr {
    position: absolute;
    width: 130px;
    top: 15%;
    left: 75%;
  }
  .flower2 {
    position: absolute;
    width: 7vw;
    top: 130px;
    left: 100%;
  }
  .flower3 {
    position: absolute;
    width: 65px;
    top: 400px;
    left: 350px;
    left: 40%;
  }
  .whitestar2 {
    position: absolute;
    width: 15%;
    top: 30px;
    left: 240px;
  }
  .blackstar3 {
    position: absolute;
    width: 65px;
    top: 190px;
    left: 350px;
  }
  .pinkstar3 {
    position: absolute;
    width: 65px;
    top: 190px;
    left: 80%;
  }
  .pinkstarlined2 {
    position: absolute;
    width: 60px;
    top: 250px;
    left: 100%;
  }
  .pacificblack1 {
    position: absolute;
    width: 20%;
    top: 380px;
    left: 320px;
  }



  .contentmid1 {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 90%;

  }
  .pacifp img {
    position: absolute;
    width: 210px;
    top: 150px;
    left: 35%;
}
  .splash3 {
    position: absolute;
    width: 120px;
    top: 380px;
    left: 20%;
  }
  .flower22 {
    position: absolute;
    width: 80px;
    top: 310px;
    left: 100px;
  }
  .pacifpink2 {
    position: absolute;
    width: 100px;
    top: 350px;
    left: 80%;
  }
  .drop1 {
    position: absolute;
    width: 120px;
    top: 310px;
    left: 58%;
  }
  .pinkstarlined3 {
    position: absolute;
    width: 75px;
    top: 230px;
    left: 80%;
  }
  .blackstar4 {
    position: absolute;
    width: 15%;
    top: 380px;
    left: 50%;
  }
  .wordrelax {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }


  .content4 {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 120%;

  }
  .ochist {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 80px;
  }
  .splash4 {
    position: absolute;
    width: 180px;
    top: 45px;
    left: 20px;
  }
  .shag4 {
    position: absolute;
    width: 170px;
    top: 86px;
    left: 9px;
  }
  .pacifpink33 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }
  .splash5 {
    position: absolute;
    width: 100px;
    top: 30px;
    left: 300px;
  }
  .pacificblack2 {
    position: absolute;
    width: 100px;
    top: 120px;
    left: 390px;
  }
  .univ img{
    position: absolute;
    width: 160px;
    top: 300px;
    left: 270px;
  }
  .linedstar1 {
    position: absolute;
    width: 80px;
    top: 400px;
    left: 20%;
  }
  .pinkstar4 {
    position: absolute;
    width: 40px;
    top: 410px;
    left: 220px;
  }



  .pods {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 150%;
  }
  .podskazka {
    position: absolute;
    width: 50px;
    top: 150px;
    left: 30%;
  }

  .vimozh {
    position: absolute;
    width: 210px;
    top: 140px;
    left: 170px;
  }

  .linedstar2 {
    position: absolute;
    width: 40px;
    top: 300px;
    left: 450px;
  }

  .drop2 {
    position: absolute;
    width: 150px;
    top: 340px;
    left: 120px;
  }

  .flower4 {
    position: absolute;
    width: 60px;
    top: 80px;
    left: 400px;
  }

  .pinkstarlined5 {
    position: absolute;
    width: 80px;
    top: 295px;
    left: 310px;
  }

  .pacificblack3 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }

  .blackstar6 {
    position: absolute;
    width: 40px;
    top: 210px;
    left: 420px;
  }

  .linedstar3 {
    position: absolute;
    width: 70px;
    top: 45px;
    left: 300px;
  }

  .podskazka {
    position: absolute;
    width: 130px;
    top: 70px;
    left: 110px;
  }
  .flower5 {
    position: absolute;
    width: 60px;
    top: 400px;
    left: 300px;
  }

  .whitestar3 {
    position: absolute;
    width: 50px;
    top: 250px;
    left: 70px;
  }



  .content5 {
    position: absolute;
    width: 34%;
    height: 450px;
    bottom: 50px;
    left: 180%;
  }
  .pacificblack4 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }

  .whitestar4 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }

  .blackstar7 {
    position: absolute;
    width: 50px;
    top: 45px;
    left: 20%;
  }

  .blackstar8 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }

  .drop3 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }

  .pacifpink4 {
    position: absolute;
    width: 90px;
    top: 360px;
    left: 350px;
  }

  .prolezhy {
    position: absolute;
    width: 340px;
    top: 110px;
    left: 140px;
  }

  .shag5 {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 20%;
  }

  .pict {
    position: absolute;
    width: 150px;
    top: 45px;
    left: 220%;
  }























  .sled2 {
    display: none;
    position: absolute;
    width: 37%;
    left: 60%;
    top: 14.6vw;
  }

@media only screen and (max-width: 1200px){
  .content1 {

  }
}
@media only screen and (max-width: 1024px){

  .block1 {
    width: 50%;
    padding-top: 18.5px;
    position: absolute;
    left: 4%;
  }
  .sled2 {
      display: block;
    position: absolute;
    width: 35%;
    left: 60%;
    top: 14vw;
  }
  .vert1 {
    width: 4px;
    height: 15vw;
    position: absolute;
    background: #303030;
    left: 19vw;
    top: 15px;

  }
  .vert2 {
    width: 4px;
    height: 15vw;
    position: absolute;
    background: #303030;
    left: 56vw;
    top: 15px;
  }
  .hor1 {
    width: 100vw;
    height: 4px;
    position: absolute;
    background: #303030;
    margin-top: 30px;
    top: 15vw;

  }
  .sled {
    display: none;
    position: absolute;
    width: 46%;
    left: 53%;
    top: 14.6vw;
  }
  .block2 {
    position: absolute;
    width: 40%;
    left: 57%;
    padding-top: 15px;
    padding-right: 1%;
    padding-left: 2%;

  }


}


@media only screen and (max-width: 768px) {
  .sled {
    display: block;
    position: absolute;
    width: 86%;
    left: 7%;
    top: 52.5vw;
  }
  .sled2 {
    display: none;
  }
  .blocks {
    padding: 11px;
  }

  .block1 {
    width: 80%;
    position: absolute;
    left: 10%;
    padding-top: 0px;
    padding-bottom: 0px;

  }

  .block2 {
    position: absolute;
    width: 77%;

    padding-left: 2%;
    padding-top: 1%;
    top: 27.5vw;
    left: 11%;

  }


  .vert1 {
    width: 4px;
    height: 23vw;
    position: absolute;
    background: #303030;
    left: 32.5vw;
    top: 10px;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
  }
  .vert2 {
    display: none;

  }
  .hor1 {
    width: 100vw;
    height: 4px;
    position: absolute;
    background: #303030;
    margin-top: 30px;
    top: 22vw;

  }
  .hor2 {
    width: 100vw;
    height: 4px;
    position: absolute;
    background: #303030;
    margin-top: 30px;
    top: 51vw;

  }
}

  @media only screen and (max-width: 414px) {


    .blocks {
      padding: 8px;

    }

    .block1 {
      width: 95%;
      position: absolute;
      left: 2%;


    }

    .block2 {
      position: absolute;
      width: 95%;
      left: auto;


      padding-top: 1%;
      top: 31vw;


    }
    .vert1 {
      width: 4px;
      height: 27vw;
      position: absolute;
      background: #303030;
      left: 28vw;
      top: 7px;
      margin-left: 1.5vh;
      margin-right: 1.5vh;
    }
    .vert2 {
      display: none;

    }
    .hor1 {
      width: 100vw;
      height: 4px;
      position: absolute;
      background: #303030;
      margin-top: 30px;
      top: 24vw;

    }
    .hor2 {
      width: 100vw;
      height: 4px;
      position: absolute;
      background: #303030;
      margin-top: 30px;
      top: 54vw;

    }


}
